/* https://supersimple.dev/exercises/youtube */

p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.thumbnail img {
  width: 100%;
}

.single-video {
}

.user-image {
  vertical-align: top;
}

.user-image img {
  border-radius: 30px;
  width: 35px;
}

.video-text {
  width: 250px;
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
}

.video-info {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-stats {
  margin-top: 6px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
